/* ###################################################### GENERALES ###################################################### */

/*
FONDO. Gradiente:
color superior: #FFFFFF
color inferior: #FFEFBA

TIPOGRAFÍA GENERAL. Uso un gris claro o blanco.
Gris: rgb(100, 100, 100)
Blanco: rgb(255, 255, 255)

TIPOGRAFÍA DENTRO DE IMAGENES. Fondo oscurecido 
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    background-image: linear-gradient(#FFFFFF, #FFEFBA);
    /* background: url("./img/fondo.svg") no-repeat; */
    background-size: cover;

}

p {
    color:rgb(100, 100, 100);
}

/* ###################################################### HEADER ###################################################### */
.row {
    display: flex;
    align-items: stretch;

    width: 100%;
    
    border: solid 0px green;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    border: solid 0px white;
}
.logo {
    width: 100%;
    
    border: solid 0px white;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: stretch;

    width: 100%;

    border: solid 0px red;
}

.nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    position: relative;

    list-style: none;
    width: 100%;
    height: 100%;
    max-width: 800px;

    border: solid 0px black;
}

.nav__sublist {
    display: flex;
    flex-direction: column;

    position: absolute;

    top: 100%;
    list-style: none;
    display: none;

    background-color: rgb(207, 21, 42);

    border: solid 0px black;
}
.sub__menu:hover .nav__sublist {
    display: block;
    top: 100%;
}

.nav__item {
    display: flex;
    justify-content: center;

    border: solid 0px white;
}

.nav__item:hover .nav__link {
    color: rgb(255,255,255);
    background-color: rgb(207, 21, 42);
}

.nav__sub_item {
    border: solid 0px white;
    text-align: left;
    width: 110px;
    height: 30px;
}

.nav__link {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    height: 100%;
    width: 100%;
    padding: 5px;
    
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: rgb(100, 100, 100);
    transition: all 0.4s;
    border: solid 0px green;
}

.nav__select {
    width: 130%;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(207,21,42);
}

/* ###################################################### FOOTER ###################################################### */

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 15px 0;
}

/* LOGO */
.logo__up {
    width: 80px;
}
.footer__logo {
    width: 80px;
}

/* FLECHA */
.subir__up {
    display: grid;
    grid-column: 2/4;
    justify-content: center;
}
.footer__flecha {
    width: 60px;
    background-color: gray;
    padding: 0 15px;
}
.footer__flecha:hover {
    background-color: white;
}

/* WSP */
.footer__wsp {
    display: grid;
    justify-content: end;
}
.footer__img__wsp {
    width: 70px;
}

/* TEXTO: Visitanos! */
.visita {
    display: grid;
    grid-column: 1/5;
    justify-content: center;
}

/* INSTAGRAM */
.footer__ins {
    display: grid;
    grid-column: 1/3;
    justify-content: end;
}
.footer__img__ins {
    width: 47px;
}

/* FACEBOOK */
.footer__face {
    display: grid;
    grid-column: 3/5;
    justify-content: start;
}
.footer__img__face {
    width: 50px;
}

/* DERECHOS */
.footer__derechos {
    display: grid;
    grid-column: 1/5;
    justify-content: center;
}

/* ###################################################### MAIN INDEX ###################################################### */

.main__promo__section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto auto;
}

.main__promo__section__div1 {
    grid-row: 1/3;
}

.main__promo__section__img {
    max-width: 100%;
    object-fit: cover;
}

.main__promo__section__button{
    background-color: black;
    opacity: 20%;
    display: grid;
    align-content: center;
}

.flechas {
    text-align: center;
    font-size: 4rem;
    transition: all 0.3s;
}

.main_promo_nav_text {
    color: white;
    
    border: solid 0px green;
}

.main__promo__section__button:hover .flechas{
    opacity: 100%;
    transform: rotate(360deg);
}
.main__promo__section__button:hover {
    opacity: 100%;
    transform: rotate(360deg);
}

.promo_zise {
    margin: 2% 60%;
    width: 25%;
    height: 20%;
}
.promo_costo_fondo {
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 65%;
    
    border: solid 0px green;
}
.pd {
    position: absolute;
    z-index: 3;
}
.recuadro {
    width: 96%;
    height: 92%;
    margin: 2%;
    border: solid 2px rgb(197, 137, 97);
}

.promo_costo_texto {
    color:rgb(197, 137, 97);
    font-size: 220%;
    font-style: italic;
    text-align: center;
}

.main__sec__nosotros {
    margin-top: 200px;
    height: 800px;
    background-color: royalblue;
}